{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- List of job postings -->

<div class="section">
         <div class="w-container">
            
            <!-- short section to describe purpose of the page --> 
            <div class="section-title-group">
               <h2 class="section-heading centered">Senior-Level Atlanta Non-Profit Jobs</h2>
               <h5 class="section-heading centered">Jobs pulled daily from Work For Good, Bridgespan, and Boardwalk, generally ordered by most-recent to least-recent</h5>
            </div>

            Error! There appears to be a problem. There is no data available to pull into the site. 

         </div>
      </div>

{% endblock %}