{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- List of job postings -->

<div class="section">
         <div class="w-container">
            
            <!-- short section to describe purpose of the page --> 
            <div class="section-title-group">
               <h2 class="section-heading centered">Senior-Level Atlanta Non-Profit Jobs</h2>
               <h5 class="section-heading centered">Jobs pulled daily from Work For Good, Bridgespan, and Boardwalk, generally ordered by most-recent to least-recent</h5>
            </div>

            <!-- pull in data from flask/python connection --> 
            <div class="w-dyn-list">
               <div class="w-clearfix w-dyn-items w-row">
                  {% for listing in listings %}
                  <div class="collection-item w-dyn-item w-col w-col-6">
                     <a href="{{listing.job_link}}" target="_blank" class="job-title">{{listing.job_title}}</a>
                     <h6 class="heading">{{listing.org_name}}</h6>
                     <h6 class="heading-2">Source: {{listing.source}}</h6>
                     <h6 class="heading-2">Date Posted: {{listing.date_posted.strftime('%B %-d, %Y')}}</h6>
                  </div>
                  {% endfor %}
               </div>
            </div>

            <div class="section-title-group">
               <h5 class="section-heading centered">These jobs reflect all Atlanta jobs on Bridgespan and Boardwalk and the senior roles in the first 6 pages of Work For Good. Please visit the individual sites if you are looking for more roles than the ones shown here.</h5>
            </div>

         </div>
      </div>

{% endblock %}