{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- List of job postings -->
<!-- Eventually use CSS to turn these into pseudo-columns -->

<div class="container">
  <ul>
  {% for listing in listings %}
    <li>
      <p class="text-left"><a href="{{listing.job_link}}"><b>{{listing.job_title}}</b></a></p>
      <p class = "text-left">{{listing.org_name}}</p>
      <p class = "text-left">Source: {{listing.source}}</p>
      <p class="text-left">Date Posted: {{listing.date_posted}}</p>
    </li>
  {% endfor %}
  </ul>
</div>


{% endblock %}